:root{
    --footer-bg: rgb(22, 23, 54);
    --color1: rgb(58, 33, 68);
    --color2: rgb(165, 60, 214);
    --color3: rgb(255, 194, 242);
    --color4: white;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content minmax(max-content ,1fr) min-content;
}

header{
    background-color: var(--color1);
    padding: 5px;
}
h1 {
    color: var(--color3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    margin-left: 15px;
}
h1::first-letter {
    color: var(--color4);
}

nav{
    background-color: var(--color2);
    padding: 10px;
}

ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 85px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

#navPageActuel{
    background-color: var(--color3);
}

.navButton{
    background-color: var(--color1);
    color: var(--color4);
}

.navButton:hover{
    background-color: var(--color3);
    color: black;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    gap: 3px;
    background-color: var(--color2);
}

aside{
    background-color: var(--color3);
    color: var(--color4);
    padding: 5px;
}

section{
    background-color: var(--color4);
    padding: 5px;
}

footer{
    background-color: var(--footer-bg);
    padding-top: 15px;
    padding-bottom: 15px;
}

a{
    color: var(--color3);
    text-decoration: none;
}

.footerLinks{
    justify-content: space-between;
    margin-right: 25%;
}